.banner {
    background: url("https://c4.wallpaperflare.com/wallpaper/459/387/737/blood-bags-blood-transfusion-blood-donation-wallpaper-preview.jpg");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}